.Fan {
    cursor: pointer;
    border: 1px dotted green;
    border-radius: 5px;
    max-width: 75px;
    max-height: 75px;
    padding: 5px;
}

.Fan {
    filter: contrast(25%);
}

.Fan:hover {
    filter: contrast(100%);
}